.git
.github
.vs
.vscode
bin
obj
**/bin
**/obj
**/.vs
**/.idea
**/.terraform
**/terraform.tfstate
**/terraform.tfstate.backup
*.user
*.suo
*.rsuser
*.log
kubectl-argo-rollouts.exe
k8s/rollouts/kubectl-argo-rollouts-windows-amd64.exe
